# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Api-go\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\mahaoyuan\Desktop\RealTimeWeb\Api-go\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
